<div class="container">
    <h1 class="">Hardware Item Manager</h1>
    <hr class="my-4">

    <form>

        <div class="mb-3">
            <label for="name" class="form-label">Item Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="item.name" [ngModelOptions]="{standalone: true}">
        </div>

        <div class="mb-3">
            <label for="rentalPerDay" class="form-label">Rental Per Day</label>
            <input type="text" class="form-control" id="rentalPerDay" [(ngModel)]="item.rental_per_day" [ngModelOptions]="{standalone: true}">
        </div>

        <div class="mb-3">
            <label for="finePerDay" class="form-label">Fine Per Day</label>
            <input type="text" class="form-control" id="finePerDay" [(ngModel)]="item.fine_per_day" [ngModelOptions]="{standalone: true}">
        </div>

        <div class="mb-3">
            <label for="status" class="form-label">Availability</label>
            <select name="avalability" class="form-select" id="" [(ngModel)]="item.availability" [ngModelOptions]="{standalone: true}">
                <option value="1">Available</option>
                <option value="0">Unavailable</option>
            </select>
        </div>

        <button (click)="saveItem()" class="btn btn-primary">Add Item</button>
    </form>
    <hr class="my-4">
    <h3 class="mb-3">Item List</h3>

    <!-- search item -->
    <form>

        <div class="row">
            <div class="col-3 mb-3">
                <input type="text" class="form-control" id="name" placeholder="Search by Item Name">
            </div>
            <div class="col-auto"><button type="submit" class="btn btn-primary ">Search</button></div>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>

                <th scope="col">Item Name</th>
                <th scope="col">Rental Per Day</th>
                <th scope="col">Fine Per Day</th>
                <th scope="col">Availability</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <td>{{item.name}}</td>
                <td>{{item.rental_per_day}}</td>
                <td>{{item.fine_per_day}}</td>
                <td>{{item.availability}}</td>
                <td><button type="button" class="btn btn-danger"(click)="deleteItem(item.id)" >Delete</button></td>
            </tr>

        </tbody>
    </table>

</div>