<div class="container">
    <div class="row mb-5d-flex justify-content-center ">
        <div class="col-auto">
            <img src="https://cdn.vectorstock.com/i/500p/45/56/poster-for-hardware-tools-vector-33274556.jpg"
                class="img-fluid rounded-5" alt="home-image">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 text-center">
            <h3>Welcome To</h3><br>
            <h1>Millennium Hardware</h1><br>
            <h3>Rental Management System</h3>
        </div>
    </div>
</div>